<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.xcschoolserver.mapper.imagesArticleMapper">
    <insert id="insertImg" parameterType="com.example.xcschoolserver.pojo.ImagesArticle">
        insert into images_article (article_id,video_id,path_url) values (#{articleId},#{videoId},#{pathUrl});
    </insert>

    <select id="selectImg" resultType="com.example.xcschoolserver.pojo.ImagesArticle">
        select * from images_article where article_id = #{articleId};
    </select>

    <select id="selectVideo" resultType="com.example.xcschoolserver.pojo.ImagesArticle">
        select * from images_article where video_id = #{videoId};
    </select>

    <delete id="deleteimg" parameterType="com.example.xcschoolserver.pojo.ImagesArticle">
        delete from images_article where article_id = #{articleId};
    </delete>

    <delete id="deleteVideo" parameterType="com.example.xcschoolserver.pojo.ImagesArticle">
        delete from images_article where video_id = #{videoId};
    </delete>
</mapper>