<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.xcschoolserver.mapper.leaveMapper">
    <insert id="insertLeave" parameterType="com.example.xcschoolserver.pojo.Leave">
        insert into leave_user (username,userphone,brand_id,open_id,text_info) values (#{userName},#{userPhone},#{brandId},#{openId},#{textInfo});
    </insert>
</mapper>