<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.xcschoolserver.mapper.matterDataMapper">
    <select id="selectMatterData" resultType="com.example.xcschoolserver.pojo.MatterData">
        select * from matter_data;
    </select>
</mapper>