<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.datatoolserver.mapper.billingBrandClassifyMapper">
    <select id="selectClassify" resultType="com.example.datatoolserver.pojo.BillingBrandClassify">
        select * from billing_brand_classify;
    </select>
    <select id="selectClassifyName" resultType="com.example.datatoolserver.pojo.BillingBrandClassify">
        select classify_id from billing_brand_classify where brand_classify_name = #{brandClassifyName};
    </select>
</mapper>