<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.datatoolserver.mapper.userShoppingMapper">
    <insert id="insertUserShopping" parameterType="com.example.datatoolserver.pojo.UserShopping">
        insert into user_shopping (open_id,code_site) values (#{openId},#{codeSite});
    </insert>

    <select id="selectOpenId" resultType="com.example.datatoolserver.pojo.UserShopping">
        select * from user_shopping where open_id = #{openId};
    </select>

    <update id="updataOpenId" parameterType="com.example.datatoolserver.pojo.UserShopping">
        update user_shopping set code_site = #{codeSite} where open_id = #{openId};
    </update>
</mapper>